body {
  font-size: 17px;
  font-family: arial;
  background: blue;
  line-height: 1.5em;
}

header {
  background: black;
  color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 4px black solid;
  margin-bottom: 10px;
}

#container {
  width: 90%;
  margin: auto;
  padding: 10px;
}
